<header class="header">
    <h1 class="header__title"><a href="/">HappyGroup</a></h1>
    <img
        src="/public/img/exit.svg"
        alt="Cerrar sesion"
        class="header__exit"
        id="logout"
    />
</header>
